[2015-01-08 19:41] ulyandmi opened #19 "Unable to initialize a reader on iPhone 6"
The application that we developed using your API works well on iPhone 4 to iPhone 5s, but when we try to run it on iPhone 6, readerIsConnected returns an Error "Connecting to CardFlight timed out. Please try again". When I put a breakpoint in readerIsConnecting or readerIsAttached, stop application on the breakpoint and then resume it, it successfully connects.

[2015-01-23 20:35] lennonhead opened #20 "CFTCard no longer NSCoding compliant"
NSCoder needs to be added back to the CFTCard, used to work.

2   CoreFoundation                    0x182b85664 -[NSObject(NSObject) doesNotRecognizeSelector:] + 220
3   CoreFoundation                    0x182b82418 ___forwarding___ + 928
4   CoreFoundation                    0x182a86b6c _CF_forwarding_prep_0 + 92
5   Foundation                        0x1839cd430 _encodeObject + 1244
6   Foundatio

[2015-01-23 21:16] hokiewalrus commented on #19
Version 1.9.1 addresses this issue

[2015-01-23 21:16] #19 closed

[2015-01-28 21:29] hokiewalrus commented on #20
This will be added back into the next release

[2015-02-11 17:50] hokiewalrus commented on #20
Added back into 1.9.2

[2015-02-11 17:50] #20 closed

[2015-02-27 00:15] ashfurrow opened #21 "Unable to initialize a reader on iPad Air 2"
Looks nearly identical to #19 except the "workaround" involving breakpoints isn't working. Console log is:

[code]

iPad model number is MH2U2LL/A (includes cellular). Running iOS 8.1.3 (12B466).

Error description:

[code]

I've tried multiple readers on multiple iPads; all readers work fine on older models and all fail on the iPad Air 2.

Installed version 1.9.2 of the library via CocoaPods. Ple

[2015-02-27 14:59] hokiewalrus commented on #21
There is nothing specific to an iPad Air 2 that would keep it from working with our readers. In fact we have an Air 2 as part of our internal testing suite and I was just using it yesterday without issue.

Has a reader ever connected with the iPad? In situations like the one you describe where everything works except with one specific device the issue is usually with the device, not with our SDK o

[2015-02-27 15:29] ashfurrow commented on #21
Hmm. That's very odd. This is not a problem that we're seeing with a specific device; this is a problem we're seeing on _all_ iPad Air 2's (identical builds run fine on older models). I'll try resetting to factory settings and get back to you.

[2015-02-27 15:31] ashfurrow commented on #21
Could this be specific to the 3G models? I'll test on a non-3G device and let you know.

[2015-02-27 15:36] hokiewalrus commented on #21
The version we have here has cellular connectivity, and we have several customers using iPad's (including Air 2's) and have never had an issue with these models since releasing 1.9.2.

The reason for the breakpoint workaround was the new iOS devices were responding to connection events before the readers had been initialized, so we had to add an artificial delay in version 1.9.2 to give the reader

[2015-02-27 15:47] ashfurrow commented on #21
Ok thanks for the quick follow-up. I'll let you know if a factor reset works. Your devices are running 8.1.3?

[2015-02-27 15:58] hokiewalrus commented on #21
Yup, 8.1.3

[2015-02-27 16:16] ashfurrow commented on #21
I performed a factory reset, granted microphone access, and it worked! I'm going to do some more troubleshooting at get back to you if I can pinpoint the source of our error.

[2015-02-27 16:21] hokiewalrus commented on #21
Great! Glad that got it working. And yes, please let us know if you figure out what caused the error.

[2015-02-27 16:21] #21 closed

[2015-02-27 16:22] ashfurrow commented on #21
Will do. It could be related to CocoaPods – we're using 0.36 Beta 2, which uses frameworks, but the CardFlight SDK has a static library bundled with it (if I understand correctly). So maybe CocoaPods wasn't smart enough about replacing the `.a` file when I updated the pod; deleting the `Pods` folder and re-installing seemed to work.

I'll try and reproduce and let you know.

[2015-02-27 17:42] ashfurrow commented on #21
I'm not sure why or how this problem occurred; I've tried to reproduce the same situation and CocoaPods updates the library fine. It was probably me rushing through many different possible fixes and not verifying the update thoroughly enough. I apologize for the fix and thank you for your prompt response.

[2015-02-27 18:30] hokiewalrus commented on #21
Probably just a glitch in the matrix, it's entirely possible that CocoaPods experienced a one-time error that would be impossible to reproduce.

Glad everything got sorted though. Let us know if you have any more issues.

[2015-03-23 18:27] scottrhoyt opened #22 "CFTReader.h missing declaration for - (void)cancelSwipe"
In the documentation for the now deprecated `- (void)cancelSwipeWithMessage:(NSString *)message` it calls for a switch to the `- (void)cancelSwipe` method.  The .h doesn't include a declaration for this.

[2015-03-24 20:30] hokiewalrus commented on #22
Documentation was updated in 2.0.2 to reflect using `cancelTransaction` instead of `cancelSwipe`

[2015-03-24 20:30] #22 closed

[2015-05-08 07:50] appmagnetics opened #23 "Crash using RamblerReader"
Hi, we have got this reported over Crashlytics:

Thread : Crashed: com.apple.main-thread
0  Control                        0x000db112 -[ReaderController stopSignalGen] + 13929
1  Control                        0x000da94b -[ReaderController getReaderKsn] + 11938
2  Control                        0x000da94b -[ReaderController getReaderKsn] + 11938
3  Control                        0x000be827 -[CFTRa

[2015-06-01 18:48] amayers opened #24 "Support for AudioJack & Attache reader in the same app"
You can't include both the AudioJack & Attache subspec in the same project. So there is no way to support both Lightning readers, and the new EMV reader without forcing all users of the app to switch to a new reader all at the same time which isn't really practical to do.

When you include both subspecs in the same target you get a ton of `duplicate symbol _OBJC_IVAR_$_CFTCardZip._zip in:` errors

[2015-06-01 20:51] hokiewalrus commented on #23
Can you try upgrading to 2.0.4 and see if that solves your issue?

[2015-07-08 14:59] citrus opened #25 "Card expiration month and year"
It seems that you've reversed the expiration date for a CFTCard. My test card expires January 2018. When I successfully swipe, I get the following values:

[code]

Thoughts?

[2015-08-27 21:04] ggamecrazy commented on #25
Confirmed, I have the same issue.

[2015-10-02 18:48] hokiewalrus commented on #25
A new version of the SDK will be out shortly and it addresses this issue.

[2015-10-05 19:05] jackrr opened #27 "Incompatible with Xcode v7 (iOS 9)"
Building a project that includes CardFlight gives the following error:

`libCardFlightLibrary.a(CFTReader.o)' does not contain bitcode. You must rebuild it with bitcode enabled (Xcode setting ENABLE_BITCODE), obtain an updated library from the vendor, or disable bitcode for this target. for architecture arm64`

[2015-10-27 15:11] ashfurrow opened #28 "Updated SDK no longer works with old card readers"
After [updating to the latest SDK](https://github.com/artsy/eidolon/pull/548), the new readers work great but I'm no longer able to use the older card readers:

![cardflight-card-reader](https://cloud.githubusercontent.com/assets/498212/10762192/581a6a74-7c9b-11e5-9ccb-ed6f74cad9fc.png)

Are these compatible with the new library? Here are the logs from your SDK:

[code]

Any ideas on what to do? A

[2015-10-29 14:24] hokiewalrus commented on #28
Check the latest release (3.0), it should still connect to the old readers. If you use the auto-connect option when you init the reader the old reader is attempted last, so it'll take the longest, but you can pass the variable "1" instead of "0" if you know you are connecting an old reader.

[2015-10-29 14:24] #28 closed

[2015-10-29 14:27] hokiewalrus commented on #27
Version 3.0 (just released) is compatible with bitcode.

[2015-10-29 14:27] hokiewalrus commented on #25
Version 3.0 (just released) should address this issue.

[2015-10-29 14:27] #25 closed

[2015-10-29 14:29] hokiewalrus commented on #24
At this time we have no plans to support an environment of mixed audio jack and attache readers.

[2015-10-29 14:29] #24 closed

[2015-10-29 14:29] #23 closed

[2015-10-29 14:58] ashfurrow commented on #28
Gotcha, OK I'll try that out and let you know :+1:

Are the 0/1 parameters of the initializer documented anywhere?

[2015-10-29 15:00] hokiewalrus commented on #28
The readerType method documents how to use it:

[code]

[2015-10-29 15:02] ashfurrow commented on #28
Right, I guess what I'm saying is the following information:

Isn't included in the headers, that I could see. It would make a good addition.

[2015-10-29 15:32] hokiewalrus commented on #28
Yes, we don't document those values. The best practice is to connect the first time with auto connect, then check the readerType and use that value going forward to speed the connection process.

[2015-11-04 18:42] zachsnow opened #29 "Unable to cleanly generate dSYM"
As of 3.0 I'm unable to cleanly generate a dSYM during build. The first relevant warnings:

[code]

Note the `.pch.pch` file extension above. Following that there are dozens of warnings like the examples below:

[code]

[2015-11-11 19:10] ashfurrow commented on #28
I've updated to the 3.0 version of the SDK, still receiving this error:

Error code 489.

I've tried both zero and one for init values. Please advise.

(I'd also ask you to re-open this issue, since the problem has not yet been resolved.)

[2015-11-11 19:29] hokiewalrus commented on #28
That is a different error. It is generated after the reader is connected and the swipe is received. However, that error code indicates that the data returned does not conform to the ISO 7813 spec for credit cards.

This error can be generated under several conditions:
* The card that was swiped was not a credit card
* The entire magnetic stripe was not swiped so not all of the data was read
* The

[2015-11-11 19:44] ashfurrow commented on #28
Thank you for your prompt reply; I've verified the card reader was damaged, thanks.

[2015-11-23 16:03] hokiewalrus commented on #29
We haven't seen that warning before. Can you clean your build folders and delete derived data and try compiling again?

[2015-11-23 17:59] brblakley commented on #29
I've been seeing these same warnings. I just tried to reproduce it in a new dummy project and wasn't able to until changing 'Debug Information Format' from 'DWARF' to 'DWARF with dSYM file'.

Steps to reproduce:

1. Open Xcode 7.1.1.
2. Choose File > New > Project > iOS > Application > Single View Application (Language: Objective-C; Devices: iPhone; no checkboxes selected).
3. Close project.
4. `p

[2015-11-23 18:04] zachsnow commented on #29
What @brblakley describes has been precisely my experience.

[2015-11-24 19:23] hokiewalrus commented on #29
Interesting. I followed the steps outlined by @brblakley exactly, and I was not able to reproduce the warnings:

<img width="970" alt="screen shot 2015-11-24 at 2 04 37 pm" src="https://cloud.githubusercontent.com/assets/728021/11377596/a69f4424-92b4-11e5-8821-37177944377f.png">

Additionally, I changed the Debug info to DWARF with dSYM and and was still unable to generate the warnings.

There see

[2015-11-24 19:36] brblakley commented on #29
@hokiewalrus, thanks for looking into this. I'm not sure why we're getting different results. I ran through the steps again and the warnings show up for me. Here is the Xcode project/workspace with pods that I just used:

http://cl.ly/3D3S2T1f292Q/Demo.zip

Can you try running Product > Archive with that and see what you get?

[2015-11-24 21:22] hokiewalrus commented on #29
Ah-ha! I have discovered the issue.

Xcode 7 added new CLANG module support, which must not be used on libraries that are going to be used on other computers. The reason I wasn't seeing the error was my machine has the paths being looked for.

We are prepping an update that fixes the error, it will be out soon.

[2015-12-16 22:18] cebertowicz opened #30 "How to Read Unencrypted non Credit Card Data?"
In addition to processing credit cards for our POS system which is using Cardflight, we need to support reading membership cards of our customers.

We tried implementing method `readerGenericResponse` but it never gets called.
The CFTCard data which is returned in `readerCardResponse` method contains cardtype=UNKOWN and not the full membership number, which we need.

How can we read custom cards w

[2015-12-19 01:45] benmarten commented on #30
+1

[2016-01-11 19:39] brblakley commented on #29
@hokiewalrus, any news on the release with the fix? Thanks.

[2016-01-12 23:38] hokiewalrus commented on #29
Nothing concrete yet, we don't anticipate the next release being too much longer though

[2016-01-14 19:20] invoodoo opened #31 "Invalid credentials when using Test mode and Test Token"
This issue appears only when I'm using test mode, if in production everything is good.

2016-01-14 11:19:37.858 RacePay[4002:1081629] CardFlight __52-[CFTCard chargeCardWithParameters:success:failure:]_block_invoke{
    message = "Invalid credentials";
    options = "<null>";
    status = 500;
    type = "Cardflight::ApiError";
}
Charge Error: Error Domain=CardFlight Code=500 "Invalid credentials"

[2016-01-19 15:59] eltoob commented on #31
Usually you get this error if your account token and your api key are not matching.

If you are swtiching between test and production ... please make sure to change BOTH your account token and your api key

[2016-01-19 15:59] #31 closed

[2016-01-20 15:48] hokiewalrus commented on #30
The CardFlight SDK no longer supports non ISO 7813 encoded magnetic stripe cards. readerGenericResponse was deprecated some time ago and has since been removed from the SDK, and we currently don't have any plans to add that functionality back in.

[2016-01-20 15:48] #30 closed

[2016-03-03 19:21] Quentiu commented on #29
@hokiewalrus I'm seeing the same problem here, any news on when the next CardFlight release will be?

[2016-03-11 16:10] hokiewalrus commented on #29
CardFlight 3.1 has been release and it should fix this issue

[2016-03-11 16:10] #29 closed

[2016-03-23 00:31] brblakley opened #32 "“Card removed” error on disconnecting reader"
Steps to reproduce (using CardFlight iOS SDK 3.1):

- Call `[[CFTSessionManager sharedInstance] setLogging:YES]`.
- Call `-[CFTSessionManager setApiToken:accountToken:]` with an EMV-compatible account’s tokens.
- Connect an EMV-compatible reader.
- In `-[CFTReaderDelegate readerIsConnected:withError:]`, call `-[CFTReader beginEMVTransactionWithAmount:andChargeDictionary:]`.
- Disconnect the reader

[2016-03-23 00:45] brblakley opened #33 "“Charge token missing” error on not confirming transaction"
Steps to reproduce (using CardFlight iOS SDK 3.1):
- Call `-[CFTSessionManager setApiToken:accountToken:]` with an EMV-compatible account’s tokens.
- Connect an EMV-compatible reader.
- In `-[CFTReaderDelegate readerIsConnected:withError:]`, call `-[CFTReader beginEMVTransactionWithAmount:andChargeDictionary:]`.
- Dip a chip card as prompted.
- In `-[CFTReaderDelegate emvCardResponse:]`, call `[re

[2016-03-23 00:57] brblakley opened #34 "EMV features unavailable when beginning EMV transaction before private asynchronous token process has finished"
Steps to reproduce (using CardFlight iOS SDK 3.1):

- Call `[[CFTSessionManager sharedInstance] setLogging:YES]`.
- Connect an EMV-compatible reader.
- Call `-[CFTSessionManager setApiToken:accountToken:]` with an EMV-compatible account’s tokens.
- In `-[CFTReaderDelegate readerIsConnected:withError:]`, call `-[CFTReader beginEMVTransactionWithAmount:andChargeDictionary:]`.

Expected result: `-[CF

[2016-03-23 16:43] brblakley opened #35 "EMV message changes quickly on not confirming transaction"
Steps to reproduce (using CardFlight iOS SDK 3.1):

- Call `[[CFTSessionManager sharedInstance] setLogging:YES]`.
- Call `-[CFTSessionManager setApiToken:accountToken:]` with an EMV-compatible account’s tokens.
- Connect an EMV-compatible reader.
- In `-[CFTReaderDelegate readerIsConnected:withError:]`, call `-[CFTReader beginEMVTransactionWithAmount:andChargeDictionary:]`.
- Dip a chip card as pr

[2016-03-23 17:04] brblakley opened #36 "-[CFTReaderDelegate readerIsConnected:withError:] intermittently not called"
Steps to reproduce (using CardFlight iOS SDK 3.1):

- Call `[[CFTSessionManager sharedInstance] setLogging:YES]`.
- Call `-[CFTSessionManager setApiToken:accountToken:]` with an EMV-compatible account’s tokens.
- Wait until the console reports “is EMV ready:Yes”.
- Connect an EMV-compatible reader.

Expected result: `-[CFTReaderDelegate readerIsConnected:withError:]` to be called.

Actual result:

[2016-03-23 23:13] brblakley opened #37 "“DeviceNoRespond” error after waiting a few minutes"
Steps to reproduce (using CardFlight iOS SDK 3.1):

- Call `[[CFTSessionManager sharedInstance] setLogging:YES]`.
- Call `-[CFTSessionManager setApiToken:accountToken:]` with an EMV-compatible account’s tokens.
- Wait until the console reports “is EMV ready:Yes”.
- Connect an EMV-compatible reader.
- In `-[CFTReaderDelegate readerIsConnected:withError:]`, call `-[CFTReader beginEMVTransactionWithA

[2016-03-24 01:02] brblakley opened #38 "EMV message changes quickly on transaction approval"
Steps to reproduce (using CardFlight iOS SDK 3.1):

- Call `[[CFTSessionManager sharedInstance] setLogging:YES]`.
- Call `-[CFTSessionManager setApiToken:accountToken:]` with an EMV-compatible account’s tokens.
- Wait until the console reports “is EMV ready:Yes”.
- Connect an EMV-compatible reader.
- In `-[CFTReaderDelegate readerIsConnected:withError:]`, call `-[CFTReader beginEMVTransactionWithA

[2016-03-29 18:25] brblakley opened #39 "No callbacks on removing card during “Please wait” phase before confirmation"
Steps to reproduce (using CardFlight iOS SDK 3.1):

- Call `[[CFTSessionManager sharedInstance] setLogging:YES]`.
- Call `-[CFTSessionManager setApiToken:accountToken:]` with an EMV-compatible account’s tokens.
- Wait until the console reports “is EMV ready:Yes”.
- Connect an EMV-compatible reader.
- In `-[CFTReaderDelegate readerIsConnected:withError:]`, call `-[CFTReader beginEMVTransactionWithA

[2016-04-01 01:57] brblakley opened #40 "“Dip card” instead of “Dip or swipe card” on not confirming transaction and then starting new transaction"
Steps to reproduce (using CardFlight iOS SDK 3.1):

- Call `[[CFTSessionManager sharedInstance] setLogging:YES]`.
- Call `-[CFTSessionManager setApiToken:accountToken:]` with an EMV-compatible account’s tokens.
- Wait until the console reports “is EMV ready:Yes”.
- Connect an EMV-compatible reader.
- In `-[CFTReaderDelegate readerIsConnected:withError:]`, call `-[CFTReader beginEMVTransactionWithA

[2016-04-01 16:59] brblakley opened #41 "Reader unresponsive after sleeping and waking device"
Steps to reproduce (using CardFlight iOS SDK 3.1 with iOS 9.3.1):

- Call `[[CFTSessionManager sharedInstance] setLogging:YES]`.
- Call `-[CFTSessionManager setApiToken:accountToken:]` with an EMV-compatible account’s tokens.
- Wait until the console reports “is EMV ready:Yes”.
- Connect an EMV-compatible reader.
- In `-[CFTReaderDelegate readerIsConnected:withError:]`, call `-[CFTReader beginEMVT

[2016-04-01 18:16] brblakley opened #42 "“ErrorType_CommLinkUninitialized” error after sleeping and waking device, then canceling and restarting transaction"
Steps to reproduce (using CardFlight iOS SDK 3.1 with iOS 9.3.1):

- Call `[[CFTSessionManager sharedInstance] setLogging:YES]`.
- Call `-[CFTSessionManager setApiToken:accountToken:]` with an EMV-compatible account’s tokens.
- Wait until the console reports “is EMV ready:Yes”.
- Connect an EMV-compatible reader.
- In `-[CFTReaderDelegate readerIsConnected:withError:]`, call `-[CFTReader beginEMVT

[2016-04-05 21:09] brblakley opened #43 "“ErrorType_IllegalStateException” after deallocating reader instance during reader detection"
Steps to reproduce (using CardFlight iOS SDK 3.1 with iOS 9.3.1):

- Create a `CFTReader` instance.
- Call `[[CFTSessionManager sharedInstance] setLogging:YES]`.
- Call `-[CFTSessionManager setApiToken:accountToken:]` with an EMV-compatible account’s tokens.
- Wait until the console reports “is EMV ready:Yes”.
- Connect an EMV-compatible reader.
- Before `CFTReader` has a chance to call `-[CFTRead

[2016-04-05 23:41] brblakley opened #44 "EMV transaction result delegate method called with charge, signature requirement, and error on premature card removal"
The documentation in `CFTReader.h` states that for `-[CFTReaderDelegate emvTransactionResult:charge:requiresSignature:withError:]`:

But when a chip card is removed after confirming the transaction but before the transaction completes, depending on the timing of the card removal (and I assume the CardFlight iOS SDK’s network calls), that method is called with a `CFTCharge` instance, `YES` for the

[2016-04-06 01:09] brblakley opened #45 "Crash on -[AE1_AudioPlayerAndRecorder setupAudioUnit]"
Crash log from iPhone 5 running iOS 9.2 and CardFlight iOS SDK 3.1:

[code]

I don’t know the steps to reproduce the crash. If I come across this crash and can isolate the steps to reproduce it, I’ll report back.

[2016-04-15 15:59] hokiewalrus commented on #33
I am unable to reproduce.

@brblakley Can you share more details about the code you use to reproduce the error?

[2016-04-18 17:56] hokiewalrus commented on #40
Unable to reproduce

[2016-04-18 20:57] brblakley commented on #33
@hokiewalrus, here’s a rough sample app that demonstrates the issue:
https://github.com/CardFlight/cardflight-ios/files/224784/Demo.zip

And here are instructions for reproducing it with that sample app:
- Run `pod install`.
- In `-[ViewController viewDidLoad]`, enter tokens for an EMV-compatible account.
- Product > Run.
- Wait until the console reports “is EMV ready:Yes”.
- Connect an EMV-compat

[2016-04-18 21:53] brblakley commented on #40
@hokiewalrus, here’s another rough sample app that demonstrates this issue:
https://github.com/CardFlight/cardflight-ios/files/224863/Demo.zip

And here are instructions for reproducing it with that sample app:
- Run `pod install`.
- In `-[ViewController viewDidLoad]`, enter tokens for an EMV-compatible account.
- Product > Run.
- Wait until the console reports “is EMV ready:Yes”.
- Connect an EMV

[2016-05-03 17:13] hokiewalrus commented on #32
Fixed in version 3.2

[2016-05-03 17:13] #32 closed

[2016-05-03 17:13] hokiewalrus commented on #34
Fixed in version 3.2

[2016-05-03 17:13] #34 closed

[2016-05-03 17:13] hokiewalrus commented on #35
Fixed in version 3.2

[2016-05-03 17:13] #35 closed

[2016-05-03 17:13] hokiewalrus commented on #36
Fixed in version 3.2

[2016-05-03 17:13] #36 closed

[2016-05-03 17:14] hokiewalrus commented on #38
Fixed in version 3.2

[2016-05-03 17:14] #38 closed

[2016-05-03 17:14] hokiewalrus commented on #41
Fixed in version 3.2

[2016-05-05 22:47] brblakley opened #46 "EMV features unavailable when passing tokens with deprecated session manager method"
Steps to reproduce (using CardFlight iOS SDK 3.2 with iOS 9.3.1):

- Call `[[CFTSessionManager sharedInstance] setLogging:YES]`.
- Call `-[CFTSessionManager setApiToken:accountToken:]` with an EMV-compatible account’s tokens.
- Note that the console doesn’t ever report “is EMV ready:Yes” like it did in 3.1 (but does seem to appear / work correctly when using 3.2’s new `setApiToken:accountToken:com

[2016-05-05 22:53] brblakley commented on #41
@hokiewalrus Thanks for looking into this. Unfortunately, I’ll still seeing this issue with 3.2 and the above steps (replacing `setApiToken:accountToken:` with `setApiToken:accountToken:completed:`). That is, after going through the above steps, the only way I can get a response from the reader is by disconnecting the reader (which does trigger the expected callbacks `readerIsDisconnected`) and th

[2016-05-05 23:05] brblakley opened #47 "‘Declined’ EMV message on disconnecting reader or removing card"
Steps to reproduce (using CardFlight iOS SDK 3.2 and iOS 9.3.1):
- Call `[[CFTSessionManager sharedInstance] setLogging:YES]`.
- Call `-[CFTSessionManager setApiToken:accountToken:completed:]` with an EMV-compatible account’s tokens.
- After the completion block is called, connect an EMV-compatible reader.
- In `-[CFTReaderDelegate readerIsConnected:withError:]`, call `-[CFTReader beginEMVTransact

[2016-05-09 18:45] brblakley opened #48 "Attempting transaction with amount under minimum doesn’t show error describing situation"
Steps to reproduce (using CardFlight iOS SDK 3.2 and iOS 9.3.1):

- Call `[[CFTSessionManager sharedInstance] setLogging:YES]`.
- Call `-[CFTSessionManager setApiToken:accountToken:completed:]` with an EMV-compatible account’s tokens.
- After the completion block is called, connect an EMV-compatible reader.
- In `-[CFTReaderDelegate readerIsConnected:withError:]`, call `-[CFTReader beginEMVTransac

[2016-05-09 19:39] hokiewalrus commented on #41
We will look into this

[2016-05-11 12:56] dltlr opened #49 "Stripe Integration Question"
I need some clarity on Stripe integration, maybe I haven't found the correct documentation.

If I have a card flight account setup and Stripe set as the merchant account.  Can I tokenize cards using CardFlight API "tokenizeCardWithSuccess" and be able to pass that card token later to Stripe directly to charge the swiped card? Or do I have to charge thru CardFlight api?

[2016-05-12 16:42] atvenu opened #50 "Audio Jack Frequent Exceptions"
We can't find a common path to reproduce this yet, but here is a collection of stack traces relating to the audio jack when using the a100.

http://crashes.to/s/9ac192a044e

[2016-05-12 22:22] jp7 opened #51 "readerNotDetected delegate not fired when there is no reader plugged in"
Using an A100 Card Reader we are trying to determine that the reader is not plugged in when initializing the Manager and Reader, but the delegate does not seem to be called.
With logging enabled we see this message in logs:
`CardFlight -[CFTWalkerReader onNoDeviceDetected]`
But no corresponding call to delegate method
`- (void)readerNotDetected;`

[2016-05-19 07:26] sanketfirodiya opened #52 "Swift: Value of type CFTCard has no member chargeCardWithParameters"
Other instance methods such as `tokenizeCardWithSuccess` are picked up by the compiler correctly.

<img width="937" alt="screen shot 2016-05-19 at 12 24 40 am" src="https://cloud.githubusercontent.com/assets/1585037/15385729/4aaba250-1d58-11e6-9b07-563bbd0f902f.png">

Using release 3.2

[2016-05-23 15:24] hokiewalrus commented on #49
Once you have a token from stripe via the `tokenizeCardWithSuccess` method you then use that token directly on Stripe later to make charges

[2016-05-23 15:24] #49 closed

[2016-05-23 15:29] hokiewalrus commented on #46
Functionality will be restored in the next release

[2016-05-23 15:30] hokiewalrus commented on #51
@jp7 Can you provide full log output for this issue?

[2016-05-23 15:34] hokiewalrus commented on #51
@jp7 Can you provide full logs for the issue?

[2016-05-23 15:34] BigCityCJ commented on #51
a

[2016-05-23 15:36] BigCityCJ commented on #51
a

[2016-05-23 15:36] BigCityCJ commented on #51
a

[2016-05-23 20:32] hokiewalrus commented on #46
Fixed in version 3.2.1

[2016-05-23 20:32] #46 closed

[2016-06-01 21:54] seigel commented on #50
FYI, we had another 60 crashes with this error over the weekend.  Is there a way to catch this crash/error and deal with it, or at least somewhere in the code to help look for that issue.

[2016-06-02 12:58] bryanthompson commented on #50
Thank you for reporting this and for the follow-up.  We've tracked it to an exception that raised from the hardware library and are filing a ticket with the vendor.  We don't think there's a convenient way to catch the exception because it is happening two layers below your app code.

[2016-06-09 06:46] Isuru-Nanayakkara opened #53 "Carthage support"
[Carthage](https://github.com/Carthage/Carthage/) is becoming a popular dependancy manager for iOS. It would be great if you could add support for that.

[2016-06-09 06:47] Isuru-Nanayakkara commented on #52
Did you add the SDK via CocoaPods?

[2016-06-09 06:52] Isuru-Nanayakkara opened #54 "CocoaPods with Swift support"
Adding CardFlight SDK to a Swift project via CocoaPods is broken.
- If you use the `use_frameworks!` flag in the `Podfile`, you get a **No such module** error when you build the project.
- If you go the bridging header way, it still won't work. I get a bunch of **Unknown type name**, **Use of undeclared identifier**, **Expected a type** errors when building.

Swift is gaining more and more tractio

[2016-06-09 15:10] sanketfirodiya commented on #52
No, I have added it manually.

On Wed, Jun 8, 2016 at 11:47 PM -0700, "Isuru Nanayakkara" <notifications@github.com> wrote:

Did you add the SDK via CocoaPods?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-06-18 14:01] robrichard commented on #27
I'm getting this error with 3.2.1

[2016-06-20 16:15] alexallenprime opened #55 "Invalid Credentials on Test and Production"
The API/Account key pair work properly in the Android sandbox app and can be used to successfully make a charge, but the same values do not work in the iOS sandbox app. When using either the test pair or the production pair, it produces the following error:

[CFTCard chargeCardWithParameters:success:failure:]_block_invoke{
    message = "Invalid credentials";
    options = "<null>";
    status = 5

[2016-06-20 17:50] #55 closed

[2016-06-20 18:07] brblakley opened #56 "Crash on +[CFTCharge attachSignatureWithToken:signatureData:success:failure:]"
Crash log from using CardFlight iOS SDK 3.2.1:

[code]

I don’t know the steps to reproduce the crash. If I come across this crash and can isolate the steps to reproduce it, I’ll report back.

[2016-06-20 23:38] lzell opened #57 "Cancelling an emv transaction results in confusing UI message"
Repro:

1. Implement the following delegate methods:

    -emvCardResponse:cardDictionary:
    -emvCardRemoved:
    -emvMessage:

2. Cancel an emv transaction in the body of `-emvCardResponse:cardDictionary:` by passing false to `-emvProcessTransaction`
3. The `-emvMessage:` method will be invoked with a message telling you the transaction was cancelled. Great!
4. The `-emvMessage:` method will be

[2016-06-23 14:26] hokiewalrus commented on #27
Apologies, there was an update and I did not update the issue.

Bitcode is currently not possible with libraries that need to run through lipo for creating a fat binary of mixed architectures. This is a bitcode limitation and not a CardFlight limitation. We are currently working on a solution

[2016-06-23 15:35] hokiewalrus commented on #54
Swift support is definitely on our roadmap and we are working on getting that out as soon as possible.

[2016-06-23 15:38] hokiewalrus commented on #56
This is not a crash we've seen before, please let us know if you continue to experience it and any other details you can gather.

[2016-06-23 15:40] hokiewalrus commented on #53
Carthage support is currently not possible because we do not have a dynamic framework at this time

[2016-06-23 15:40] #53 closed

[2016-06-23 17:40] brblakley commented on #54
@Isuru-Nanayakkara I haven’t done a full CardFlight implementation with Swift but was able to get it building and made a simple `CFTSessionManager` call. I used the second technique you mentioned (i.e. using a bridging header). To work around the various compiler errors (e.g. “Use of undeclared identifier 'EMVMessage_UNKNOWN'”), I imported Foundation before importing CardFlight. My guess is that C

[2016-06-23 18:16] hokiewalrus commented on #57
@lzell Our guidance is that you should obey the messages returned by the SDK and show them as they come. So the SDK will govern when the "remove card" message is displayed. Prompting to remove the card prematurely will result in transactions being declined (as per the EMV spec)

[2016-06-23 19:26] #57 closed

[2016-06-23 19:27] hokiewalrus commented on #57
Duplicate of #47

[2016-06-23 19:28] hokiewalrus commented on #52
We currently have no official swift support, but we are working on it

[2016-07-08 02:45] sanketfirodiya opened #58 "CFTReaderState - ReaderState_WAITING_FOR_CONNECT"
If I get this state even after connecting the card reader, does it mean the card reader has a problem and I should replace it?
This is happening in code that was working perfectly fine and suddenly I started seeing the issue. Upon connecting the device to console, I read it in the logs.
So there's definitely no code change from me causing it.

It also happened a couple of weeks and it got fixed wh

[2016-07-11 23:25] brblakley opened #59 "Crash on ReaderSignalReceiver::MyInputBufferHandler"
Crash log from iPhone 5s running iOS 9.3.2 and CardFlight iOS SDK 3.2.1:

[code]

I don’t know the steps to reproduce the crash. If I come across this crash and can isolate the steps to reproduce it, I’ll report back.

[2016-07-11 23:42] brblakley commented on #56
@hokiewalrus, I still haven’t been able to reproduce this crash but it has continued to happen for my app’s users. I haven’t found any other info in the crash logs other than this: Most of the backtraces point to line 393 of CFTCharge.m and line 97 and CFTAPIResource.m (like the above one), but I found one that points to line 92 of CFTAPIResource.m:

[code]

Are there any clues in those lines of C

[2016-07-12 17:41] hokiewalrus commented on #58
@sanketfirodiya This issue indicates that the reader is not performing any communication with the SDK. This can be due to a problem with the reader, either a dead battery or a fault with the hardware itself.

Ensure that the reader is fully charged (but not currently charging) and attempt another connection. If it continues to fail please contact support@cardflight.com for a replacement.

[2016-07-12 17:41] #58 closed

[2016-07-12 17:42] hokiewalrus commented on #56
@brblakley That additional information is actually quite helpful, we will look into this more

[2016-07-14 20:22] atvenu commented on #59
See also https://github.com/CardFlight/cardflight-ios/issues/50

[2016-07-20 20:46] atvenu commented on #59
Crashed: com.apple.coreaudio.AQClient
0  atVenu Register                0x100059868 ReaderSignalReceiver::MyInputBufferHandler(void*, OpaqueAudioQueue*, AudioQueueBuffer*, AudioTimeStamp const*, unsigned int, AudioStreamPacketDescription const*) + 4296218728
1  AudioToolbox                   0x1867f38f8 ClientMessageHandler::InputBufferComplete(unsigned int, unsigned int, XAudioTimeStamp const&, u

[2016-07-20 20:47] atvenu commented on #50
Another report: https://github.com/CardFlight/cardflight-ios/issues/59

[2016-07-20 20:49] atvenu commented on #50
Another incidence:

Crashed: com.apple.coreaudio.AQClient
0  atVenu Register                0x100059868 ReaderSignalReceiver::MyInputBufferHandler(void*, OpaqueAudioQueue*, AudioQueueBuffer*, AudioTimeStamp const*, unsigned int, AudioStreamPacketDescription const*) + 4296218728
1  AudioToolbox                   0x1867f38f8 ClientMessageHandler::InputBufferComplete(unsigned int, unsigned int, XAudi

[2016-07-20 20:50] atvenu commented on #50
Seems to be happening fairly frequently for us:

https://www.dropbox.com/s/wfsm4tz0t4yztlt/Screenshot%202016-07-20%2014.49.41.png?dl=0

[2016-08-24 05:49] applebyte1992 opened #60 "Two Step Authorization"
Hi

I am just exploring the API for card flight and I have to make a two step authorization process so I'll look into the API.The API is very rich and provides a lot of functionality. I have found an authorize method in the API which is returning me the CFTCharge Object that contains the token. Know I would like to make a Payment using that token but I'll not find any method that will allow me to

[2016-08-24 11:08] applebyte1992 commented on #31
I am also facing this same issue after double checking the Test and production environment keys, the problems still there.

[2016-08-26 22:56] sanketfirodiya opened #61 "Getting error 483 (Swipe error)"
I have been struggling with this error at a very high rate (~50%).
Tried different combinations of readers, devices and credit cards but unable to identify an external cause of failure.

This is how I am using the SDK -

I have a singleton instance of `CFTReader`
[code]

And this is what I do when the user is going to swipe their card
[code]

Please let me know if there is any more info I can prov

[2016-08-31 19:05] sanketfirodiya commented on #61
Also, I am getting `Invalid card used for testing` on a few cards that work fine with Square/other readers. Is there documentation on the error codes?

[2016-08-31 22:17] hokiewalrus commented on #61
@sanketfirodiya - First off I should say that we currently don't have official support for Swift, that is coming in a future release.

To your specific point, `ReaderState_SWIPE_DETECTED` is fired off after a card has been swiped, so if you are restarting the transaction by calling `beginSwipe` you will have issues.

Best practice is to wait until you receive the `- (void)readerIsConnected:(BOOL)i

[2016-08-31 22:22] hokiewalrus commented on #60
@applebyte1992 The method you are looking for is `+ (void)captureChargeWithToken:(NSString *)token andAmount:(NSDecimalNumber *)amount success:(void(^)(CFTCharge *charge))success failure:(void(^)(NSError *error))failure;`. It is located in the CFTCharge class

[2016-08-31 22:22] #60 closed

[2016-09-02 19:07] sanketfirodiya commented on #61
@hokiewalrus thanks for the reply.

I didn't paste all the code, but yes I am waiting for `- (void)readerIsConnected:(BOOL)isConnected withError:(NSError *)error` to tell me when the reader is ready.

Then, when the user taps the `Pay` button in my app, I am calling -
[code]

I will change this to
[code]
so that I don't restart swipes.

There is another error I am facing on some specific cards tho

[2016-09-06 22:21] hokiewalrus commented on #61
@sanketfirodiya - That sounds like a Stripe error to me, it not an error that we generate. Every processor handles testing differently, so Stripe will accept/reject different cards than Square or someone else will.

Because Stripe deals primarily with non-swiped cards they have some very specific requirements when it comes to test cards, please see https://stripe.com/docs/testing#cards

[2016-09-06 22:21] #61 closed

[2016-09-06 23:39] brblakley opened #62 "Crash on objc_msgSend() selector name: retain / -[EmvDeviceController TriggerCallback_onEmvDeviceGenericCallback:]"
Crash log from using CardFlight iOS SDK 3.2.1:

[code]

I don’t know the steps to reproduce the crash and I’m not sure if the crash is caused by CardFlight. If I come across this crash and can isolate the steps to reproduce it, I’ll report back.

[2016-09-11 15:38] jwilliams-handy opened #63 "Private API Usage of forceStop"
My app was just rejected from the App Store due to the use of private API usage. Through the use of "otool -ov" and the "strings" command I believe I have attributed the call back to your pod.

The offending private API call is `forceStop`. I believe it's called from the `PS_onReturnMagStripeCardNumber:` selector in the `EmvDeviceController` class but I'm not an "otool" expert so I'm not completel

[2016-09-12 15:47] jwilliams-handy commented on #63
After clarification from Apple they have told us that `EmvDeviceController` is the culprit but it's being called from the selector `forceStopOtaController`.

[2016-09-19 16:39] brblakley commented on #56
@hokiewalrus I saw that the release notes for 3.5 say that the update includes a fix for this issue. That’s great! Do you know what sequence of events triggered this issue? I still haven’t been able to reproduce it.

[2016-09-19 18:18] hokiewalrus commented on #56
@brblakley - We had an issue with large signatures causing problems and not being handled well. Not sure if that was what your issue was related to, but I believe they had similar underlying causes (payload generation), so I believe refactoring the payload solved this issue as well.

[2016-09-19 18:18] #56 closed

[2016-09-19 18:18] hokiewalrus commented on #63
False positive

[2016-09-19 18:18] #63 closed

[2016-10-05 18:00] brblakley opened #64 "-[CFTReaderDelegate emvTransactionResult:requiresSignature:withError:] not called on terminating transaction"
Steps to reproduce (using CardFlight iOS SDK 3.5 and iOS 9.3.5):
- Call `[[CFTSessionManager sharedInstance] setLogging:YES]`.
- Call `-[CFTSessionManager setApiToken:accountToken:completed:]` with an EMV-compatible account’s tokens.
- After the completion block is called, connect an EMV-compatible reader.
- In `-[CFTReaderDelegate readerIsConnected:withError:]`, call `-[CFTReader beginEMVTransact

[2016-10-07 16:01] auctifera-josed opened #65 "CFTPaymentView modifying size"
When initializing the CFTPaymentView object, I'm not seeing any change in the size regardless of the values (width, height) in the CGRect, is that the expected behavior? or how can I change the dimensions of the CFTPaymentView?

Note: The x, y location works like a charm.

[2016-11-04 18:26] hokiewalrus commented on #27
We currently have no workaround for this limo limitation and don't foresee any appearing in the near future.

[2016-11-04 18:26] #27 closed

[2016-11-04 18:28] hokiewalrus commented on #65
This is functionality we are considering implementing in a future release. As of right now, this is expected behavior. The position of the view may be set but the size is currently fixed.

[2016-11-04 18:33] hokiewalrus commented on #33
This issue has been fixed in version 3.5

[2016-11-04 18:33] #33 closed

[2016-11-10 09:33] EvgenyMatviyenko opened #66 "CFTCard Tokenize"
When I am trying to tokenize card with tokenizeCard(success: failure:) I get an error 500 "Bad response from server".

I have used Charles to get actual server response:

[2016-11-14 22:01] hokiewalrus commented on #66
Can you provide more information? Specifically around where you making the actually method call?

[2016-11-16 20:32] EvgenyMatviyenko commented on #66
I have such enum:
[code]

I am calling tokenize and it calls this function:
[code]

[2016-11-22 20:09] hokiewalrus commented on #66
@EvgenyMatviyenko I don't see anything that's obviously wrong or indicating a bug. Can you send an email to support@cardflight.com so that we may follow up in private?

[2016-11-22 20:09] #66 closed

[2016-11-22 20:10] #65 closed

[2016-11-24 04:45] applebyte1992 opened #67 "Bluetooth Card Reader Issue SDK 3.5"

[2016-11-28 06:50] alijawadGGS opened #68 "Bad response from server (Vaulting)"
Hi
We are integrating the Vaulting functionlity in our system to save user card so that we'll save his effort of card insertion everytime. We have integrated your SDK and successfully charged the card using the proper API calls but when we tried to Vault the card using the same API Key and Access Token we are always getting Bad response from server. Below is the code that we are using to Vault the

[2016-11-28 18:41] hokiewalrus commented on #68
Will handle privately via email as this isn't a systemic issue with the SDK

[2016-11-28 18:41] #68 closed

[2016-11-28 18:44] hokiewalrus commented on #67
@applebyte1992 Can you go into some more detail about exactly where you're having the issue? Connecting the reader, reading a card, etc...

[2016-12-06 15:58] Jasdev commented on #66
Any luck on resolving this, running into the same issue?

[2016-12-12 16:51] hokiewalrus commented on #64
Fixed in Version 3.5.1

[2016-12-12 16:51] #64 closed

[2016-12-12 16:52] hokiewalrus commented on #47
Fixed in 3.5.1

[2016-12-12 16:52] #47 closed

[2016-12-20 18:05] jp7 opened #69 "EMV transaction result returns wrong error when a card is declined."
SDK 3.5.1 does not return declined transaction results when using an EMV reader.

Steps to reproduce (using CardFlight iOS SDK 3.5.1):

- Create a CFTReader instance.
- Call [[CFTSessionManager sharedInstance] setLogging:YES].
- Call -[CFTSessionManager setApiToken:accountToken:] with an EMV-compatible account’s tokens.
- Connect an EMV-compatible reader.
- In -[CFTReaderDelegate readerIsConnected

[2017-02-06 07:06] cipherguy opened #70 "Demo of cardflight bluetooth reader"
Hello ,

is there any sample of card flight bluetooth reader . ?

[2017-02-20 15:32] patmisch opened #71 "Charge Card - Stripe Connect"
When attempting to charge a swiped card via the ChargeCardWithParameters method, I'm getting the following error:

'Requests made on behalf of a connected account must use card tokens from Stripe.js, but card details were directly provided'

Given that, I tried to use the TokenizeCardWithSuccess method, but have had no success. This method returns 500 - Bad response from server.

[2017-03-07 03:20] sgruby-reformation commented on #69
We have seen the same problem. One workaround that we are trying is that on the CardRemoved callback, we wait a few seconds and see if you received a charge token; if not, we assume that the card is declined.

[2017-04-14 16:11] ashfurrow opened #72 "tokenizeCard returning error on newer readers"
Good afternoon! I'm having a problem with newer readers. Old ones work fine but when I try to use the new ones and call `tokenizeCard` on `CFTCard`, I'm getting back `Error Domain=CardFlight Code=500 "Bad response from server" UserInfo={NSLocalizedDescription=Bad response from server}`. Any ideas what could be causing this?

[2017-04-28 14:01] ashfurrow commented on #72
Any update on this? We're using 3.5.1 of the library.

[2017-05-08 21:16] hokiewalrus commented on #72
This issue is a known bug and will be fixed in the next release.

[2017-05-08 21:16] #72 closed

[2017-05-09 15:33] ashfurrow commented on #72
For anyone else experiencing this issue, rolling back to 3.2.1 of the SDK fixed it for now.

[2017-05-12 05:12] rashmiPatil10 commented on #54
@hokiewalrus I am facing same issue. getting error <CardFlight/CardFlight.h> file not found in my bridging header. when I am using cocoa pods to install SDK. Is any way to implement CardFlight using swift.

[2017-06-01 20:03] hokiewalrus commented on #54
Our brand new release of CardFlight, version 4 includes greatly enhanced support for Swift: https://github.com/CardFlight/cardflight-v4-ios

[2017-06-01 20:03] #54 closed

[2017-06-01 20:04] hokiewalrus commented on #52
Our new SDK, version 4 includes enhanced swift support: https://github.com/CardFlight/cardflight-v4-ios

[2017-06-01 20:04] #52 closed

[2017-06-12 15:58] hokiewalrus commented on #71
Tokenization has now been fixed in CardFlight 3.6, which you can find at the new repo here:

https://github.com/CardFlight/cardflight-v3-ios

[2017-06-12 15:58] #71 closed

[2017-10-04 14:12] patmisch commented on #41
@brblakley Were you able to figure anything out with this?

[2017-10-09 16:20] brblakley commented on #41
@patmisch, no, I don’t think I did. Although, I’m no longer working on the app that was using CardFlight so I’m not sure if a more recent CF SDK update changed any of this.

[2018-02-01 12:35] jadhavarun opened #73 "Issues to reconnecting the Reader-iOS SDK"
Hello Team,

I am having an issue with transaction  Basically, I'd written down the steps what I'm doing:
1.Creating an object in viewDidLoad.
2.Creating credentials with a custom method and calling it from didReceiveCardReaderEvent only when the reader is connected.
3.Then payment is being done as expected with only single payment.
4.And go to second view controller and coming back to view contro

[2018-10-18 14:38] windmor opened #74 "I received some crash with CardFlight SDK 4.5.0"
Crashed: Thread
0  libobjc.A.dylib                0x1fd10bd70 objc_msgSend + 16
1  CoreFoundation                 0x1fde0d3fc -[__NSDictionaryM objectForKey:] + 212
2  CardFlight                     0x102440f44 -[EmvDevice3_MainController Timer_StartTimerWithMaxResendCount] + 88
3  Foundation                     0x1fe9d65a0 __NSThreadPerformPerform + 336
4  CoreFoundation                 0x1fdeb55